@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>JsonTool</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme-united.min.css" rel="stylesheet" />
    <link href="~/Content/ForkMe.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <a href="https://github.com/davidni/jsontool"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>
    <!-- Content -->
    <div class="container">
        <div ng-view></div>
    </div>

    <footer class="footer">
        <br/><br/>
        <p style="text-align:right;margin-right:50px;margin-bottom:50px;">
            <a href="https://github.com/davidni/jsontool">Source code on GitHub</a>
        </p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <!-- App -->
    <script src="~/app/app.js"></script>

    <!-- Home -->
    <script src="~/app/home/homeController.js"></script>

</body>
</html>
